<template>
  <q-page padding class="flex">
    <q-card style="width: 100%">
      <q-card-title>
        Patient
      </q-card-title>
      <q-card-main>
        <div class="row">
          <div class="col">
            <q-input v-model="body.firstName" inverted color="secondary" float-label="First Name"
                     placeholder="something"/>
          </div>
          <div class="col">
            <q-input v-model="body.lastName" inverted color="secondary" float-label="Last Name"
                     placeholder="something"/>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <q-datetime inverted color="secondary" :first-day-of-week="6" v-model="body.birthDate" stack-label="Birth Date"/>
          </div>
          <div class="col">
            <q-field
              helper="Please pick the sex"
            >
              <q-option-group
                type="radio"
                color="secondary"
                v-model="body.sex"
                :options="[
                { label: 'Male', value: 'MALE' },
                { label: 'Female', value: 'FEMALE' },
                { label: 'Other', value: 'OTHER' }
                ]"
              />
            </q-field>
          </div>
        </div>
        <q-card style="width: 100%">
          <q-card-title>
            Study Case
          </q-card-title>
          <q-card-main>
            <div class="q-my-md">
              <span>Status : </span>
              <q-radio dark v-model="study.studyStatus" val="PLANNED" color="secondary" label="Planned" />
              <q-radio dark v-model="study.studyStatus" val="IN_PROGRESSING" color="amber" label="InProgress" style="margin-left: 10px" />
              <q-radio dark v-model="study.studyStatus" val="FINISHED" color="red" label="Finished" style="margin-left: 10px" />
            </div>

            <div class="row">
              <div class="col">
                <q-chips-input inverted color="secondary" v-model="study.doctorList" placeholder="Select from list of doctors" stack-label="List of doctors" @duplicate="duplicate">
                  <q-autocomplete color="secondary" @search="searchForDoctors"/>
                </q-chips-input>
              </div>
              <div class="col">
                <q-search icon="meeting_room" stack-label="Room" inverted v-model="study.room.id" placeholder="Select a room or add new one">
                  <q-autocomplete @search="searchForRoom"/>
                </q-search>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <q-datetime inverted color="secondary" v-model="study.startTime" type="datetime" float-label="Start Time" />
              </div>
              <div class="col">
                <q-datetime inverted color="secondary" v-model="study.endTime" type="datetime" float-label="End Time" />
              </div>
            </div>
            <q-input
              v-model="study.description"
              type="textarea"
              inverted
              color="warning"
              float-label="Description"
              :max-height="100"
              rows="7"
            />
          </q-card-main>
        </q-card>
      </q-card-main>
      <q-card-separator/>
      <!-- Vertical actions -->
      <q-card-actions align="end">
        <q-btn color="negative" style="padding:0 20px" to="/patients" label="Cancle"/>
        <q-btn color="positive" style="padding:0 20px" @click="save" label="Save"/>
      </q-card-actions>
    </q-card>
  </q-page>
</template>

<style>
</style>

<script>
import { filter } from 'quasar'
export default {
  name: 'PageIndex',
  data () {
    return {
      body: {
        firstName: '',
        lastName: '',
        birthDate: '',
        sex: '',
        studyList: []
      },
      study: {
        studyStatus: '',
        description: '',
        room: {
          id: ''
        },
        doctorList: [],
        startTime: '',
        endTime: ''
      }
    }
  },
  methods: {
    save () {
      let doctorList = []
      for (let item of this.study.doctorList) {
        doctorList.push({id: item})
      }
      this.study.doctorList = doctorList
      this.body.studyList.push(this.study)
      this.$store.state.patientsStore.body = this.body
      this.$store.dispatch('patientsStore/addPatient').then((res) => {
        this.$router.push('/patients')
      })
    },
    searchForDoctors (terms, done) {
      this.$store.state.doctorsStore.searchRequest.operand = '='
      this.$store.state.doctorsStore.searchRequest.criteria = 'firstName'
      this.$store.state.doctorsStore.searchRequest.value = terms
      this.$store.dispatch('doctorsStore/getAllDoctorsByFirstName').then((res) => {
        let result = []
        for (let item of res.body['content']) {
          result.push({label: item['firstName'], value: item['id']})
        }
        done(filter(terms, {field: 'label', list: result}))
      })
    },
    searchForRoom (terms, done) {
      this.$store.state.roomsStore.searchRequest.operand = '='
      this.$store.state.roomsStore.searchRequest.criteria = 'name'
      this.$store.state.roomsStore.searchRequest.value = terms
      this.$store.dispatch('roomsStore/getAllRoomsByName').then((res) => {
        let result = []
        for (let item of res.body['content']) {
          result.push({label: item['name'], value: item['id']})
        }
        done(filter(terms, {field: 'label', list: result}))
      })
    },
    selected (item) {
      this.$q.notify(`Selected suggestion "${item.label}"`)
    },
    duplicate (label) {
      this.$q.notify(`"${label}" already in list`)
    }
  }
}
</script>
