<template>
    <q-card style="width: 100%">
      <q-card-title>
        Study Case
      </q-card-title>
      <q-card-main>
        <div class="q-my-md">
          <span>Status : </span>
          <q-radio dark v-model="study.studyStatus" val="PLANNED" color="secondary" label="Planned"/>
          <q-radio dark v-model="study.studyStatus" val="IN_PROGRESSING" color="amber" label="InProgress"
                   style="margin-left: 10px"/>
          <q-radio dark v-model="study.studyStatus" val="FINISHED" color="red" label="Finished"
                   style="margin-left: 10px"/>
        </div>

        <div class="row">
          <div class="col">
            <q-chips-input inverted color="secondary" v-model="study.doctorList"
                           placeholder="Select from list of doctors or add new one" stack-label="List of doctors"
                           @duplicate="duplicate">
              <q-autocomplete color="secondary" @search="searchForDoctors" @selected="selected"/>
            </q-chips-input>
          </div>
          <div class="col">
            <q-search icon="meeting_room" stack-label="Room" inverted v-model="study.room.id"
                      placeholder="Select existing room or add new one">
              <q-autocomplete @search="searchForRoom"/>
            </q-search>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <q-datetime inverted color="secondary" v-model="study.startTime" type="datetime" float-label="Start Time"/>
          </div>
          <div class="col">
            <q-datetime inverted color="secondary" v-model="study.endTime" type="datetime" float-label="End Time"/>
          </div>
        </div>
        <q-input
          v-model="study.description"
          type="textarea"
          inverted
          color="warning"
          float-label="Description"
          :max-height="100"
          rows="7"
        />
      </q-card-main>
      <!-- Vertical actions -->
      <q-card-actions align="end">
        <q-btn color="negative" style="padding:0 20px" @click="$router.go(-1)" label="Cancle"/>
        <q-btn color="positive" style="padding:0 20px" @click="save" label="Save"/>
      </q-card-actions>
    </q-card>
</template>

<style>
</style>

<script>
import { filter } from 'quasar'

export default {
  name: 'PageIndex',
  data () {
    return {
      study: {
        studyStatus: '',
        description: '',
        room: {
          id: ''
        },
        doctorList: [],
        startTime: '',
        endTime: '',
        patient: {id: this.$route.params.idStudy}
      }
    }
  },
  methods: {
    save () {
      let doctorList = []
      for (let item of this.study.doctorList) {
        doctorList.push({id: item})
      }
      this.study.doctorList = doctorList
      this.$store.state.studiesStore.body = this.study
      console.log(this.study)
      this.$store.dispatch('studiesStore/addStudy').then((res) => {
        this.$router.go(-1)
      })
    },
    searchForDoctors (terms, done) {
      this.$store.state.doctorsStore.searchRequest.operand = '='
      this.$store.state.doctorsStore.searchRequest.criteria = 'firstName'
      this.$store.state.doctorsStore.searchRequest.value = terms
      this.$store.dispatch('doctorsStore/getAllDoctorsByFirstName').then((res) => {
        let result = []
        for (let item of res.body['content']) {
          result.push({label: item['firstName'], value: item['id']})
        }
        done(filter(terms, {field: 'label', list: result}))
      })
    },
    searchForRoom (terms, done) {
      this.$store.state.roomsStore.searchRequest.operand = '='
      this.$store.state.roomsStore.searchRequest.criteria = 'name'
      this.$store.state.roomsStore.searchRequest.value = terms
      this.$store.dispatch('roomsStore/getAllRoomsByName').then((res) => {
        let result = []
        for (let item of res.body['content']) {
          result.push({label: item['name'], value: item['id']})
        }
        done(filter(terms, {field: 'label', list: result}))
      })
    },
    selected (item) {
    },
    duplicate (label) {
      this.$q.notify(`"${label}" already in list`)
    }
  }
}
</script>
