<template>
  <q-page padding class="docs-table">
    <q-table
      ref="table"
      color="secondary"
      title="Doctors"
      :data="serverData"
      :columns="columns"
      :filter="filter"
      selection="none"
      :selected.sync="selected"
      row-key="id"
      :pagination.sync="serverPagination"
      @request="request"
      :loading="loading"
    >
      <template slot="top-right" slot-scope="props">
        <q-search class="searchInput" hide-underline v-model="filter"
                  color="secondary"/>
        <q-btn
          flat round dense
          :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
          @click="props.toggleFullscreen"
        />
      </template>
    </q-table>
  </q-page>
</template>

<script>
export default {
  data () {
    return {
      serverData: [],
      serverPagination: {
        page: 0,
        rowsNumber: 5 // specifying this determines pagination is server-side
      },
      visibleColumns: ['firstName', 'lastName', 'sex', 'birthdate'],
      columns: [
        {
          name: 'firstName',
          required: true,
          label: 'First name',
          align: 'left',
          field: 'firstName',
          sortable: true
        },
        { name: 'lastName', label: 'Last name', field: 'lastName', sortable: false },
        { name: 'speciality', label: 'Speciality', field: 'speciality', sortable: false }
      ],
      separator: 'horizontal',

      filter: '',
      selected: [],
      loading: false
    }
  },
  methods: {
    request (props) {
      this.loading = true
      this.$store.state.doctorsStore.searchRequest.currentPageIndex = props.pagination.page - 1
      this.$store.state.doctorsStore.searchRequest.pageMaxIndex = props.pagination.rowsPerPage
      this.$store.dispatch('doctorsStore/getAllDoctors').then((res) => {
        this.serverData = res.body['content']
        this.serverPagination = props.pagination
        this.serverPagination.rowsNumber = res.body['totalElements']
        this.loading = false
      }).catch((err) => {
        this.loading = false
        console.log(err)
      })
    }
  },
  mounted () {
    this.request({
      pagination: this.serverPagination,
      filter: this.filter
    })
  }
}
</script>
