<template>
  <q-page padding class="flex">
    <q-card style="width: 100%">
      <q-card-title>
        Patient
      </q-card-title>
      <q-card-main>
        <div class="row">
          <div class="col">
            <q-input v-model="body.firstName" inverted color="secondary" float-label="First Name"
                     placeholder="something"/>
          </div>
          <div class="col">
            <q-input v-model="body.lastName" inverted color="secondary" float-label="Last Name"
                     placeholder="something"/>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <q-datetime inverted color="secondary" :first-day-of-week="6" v-model="body.birthDate" stack-label="Birth Date"/>
          </div>
          <div class="col">
            <q-field
              helper="Please pick the sex"
            >
              <q-option-group
                type="radio"
                color="secondary"
                v-model="body.sex"
                :options="[
                { label: 'Male', value: 'MALE' },
                { label: 'Female', value: 'FEMALE' },
                { label: 'Other', value: 'OTHER' }
                ]"
              />
            </q-field>
          </div>
        </div>
            <studies></studies>
        <div>
          <q-btn
            color="secondary"
            label="ADD STUDY"
            style="width: 100%;"
            :to="{name:'addStudy' , params:{ idStudy: this.$route.params.id}}"
          />
        </div>
      </q-card-main>
      <q-card-separator/>
      <!-- Vertical actions -->
      <q-card-actions align="end">
        <q-btn color="negative" style="padding:0 20px" to="/patients" label="Cancle"/>
        <q-btn color="positive" style="padding:0 20px" @click="save" label="Save"/>
      </q-card-actions>
    </q-card>
  </q-page>
</template>

<style>
</style>

<script>
import { filter } from 'quasar'
import studies from '../components/studies.vue'
export default {
  name: 'PageIndex',
  data () {
    return {
      body: {
        firstName: '',
        lastName: '',
        birthDate: '',
        sex: '',
        studyList: []
      },
      study: {
        studyStatus: '',
        description: '',
        room: {
          id: ''
        },
        doctorList: [],
        startTime: '',
        endTime: ''
      }
    }
  },
  components: {
    studies
  },
  mounted () {
    this.$store.state.patientsStore.id = this.$route.params.id
    this.$store.dispatch('patientsStore/getPatient').then((res) => {
      this.body = res.body
    })
  },
  methods: {
    save () {
      this.$store.state.patientsStore.body = this.body
      this.$store.dispatch('patientsStore/addPatient').then((res) => {
        this.$router.push('/patients')
      })
    },
    searchForDoctors (terms, done) {
      this.$store.state.doctorsStore.searchRequest.operand = '='
      this.$store.state.doctorsStore.searchRequest.criteria = 'firstName'
      this.$store.state.doctorsStore.searchRequest.value = terms
      this.$store.dispatch('doctorsStore/getAllDoctorsByFirstName').then((res) => {
        let result = []
        for (let item of res.body['content']) {
          result.push({label: item['firstName'], value: item['id']})
        }
        done(filter(terms, {field: 'label', list: result}))
      })
    },
    searchForRoom (terms, done) {
      this.$store.state.roomsStore.searchRequest.operand = '='
      this.$store.state.roomsStore.searchRequest.criteria = 'name'
      this.$store.state.roomsStore.searchRequest.value = terms
      this.$store.dispatch('roomsStore/getAllRoomsByName').then((res) => {
        let result = []
        for (let item of res.body['content']) {
          result.push({label: item['name'], value: item['id']})
        }
        done(filter(terms, {field: 'label', list: result}))
      })
    },
    selected (item) {
      this.$q.notify(`Selected suggestion "${item.label}"`)
    },
    duplicate (label) {
      this.$q.notify(`"${label}" already in list`)
    }
  }
}
</script>
