<template>
  <q-page class="flex flex-center">
    <img alt="background" width="100%" src="~assets/background.jpg">
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'PageIndex'
}
</script>
