<template>
  <q-page padding class="docs-table">
    <q-table
      ref="table"
      color="secondary"
      title="PATIENTS"
      :data="serverData"
      :columns="columns"
      :filter="filter"
      selection="none"
      :selected.sync="selected"
      row-key="id"
      :pagination.sync="serverPagination"
      @request="request"
      :loading="loading"
    >
      <q-td slot="body-cell-edit" slot-scope="props" :props="props">
        <q-btn color="secondary" :to="{ name: 'editPatient', params: { id: props.value }} " flat round icon="edit" />
        <q-btn color="negative" @click="deleteRow(props.value)" flat round icon="delete" />
      </q-td>
      <template slot="top-right" slot-scope="props">
        <q-search class="searchInput" hide-underline v-model="filter"
                  color="secondary" placeholder="Search by firstName"/>
        <q-btn
          flat round dense
          :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
          @click="props.toggleFullscreen"
        />
      </template>
    </q-table>
    <q-btn color="secondary" style="width: 100%;" to="/patients/add" float-right class="addbutton" icon="add" label="ADD PATIENT" />
  </q-page>
</template>

<script>
export default {
  data () {
    return {
      serverData: [],
      serverPagination: {
        page: 0,
        rowsNumber: 5 // specifying this determines pagination is server-side
      },
      visibleColumns: ['firstName', 'lastName', 'sex', 'birthdate'],
      columns: [
        {
          name: 'firstName',
          required: true,
          label: 'First name',
          align: 'left',
          field: 'firstName',
          sortable: true
        },
        { name: 'lastName', label: 'Last name', field: 'lastName', sortable: false },
        { name: 'sex', label: 'Sex', field: 'sex', sortable: false },
        { name: 'birthDate', label: 'birthDate', field: 'birthDate' },
        { name: 'edit', label: '', field: 'id' }
      ],
      separator: 'horizontal',
      filter: '',
      selected: [],
      loading: false
    }
  },
  methods: {
    deleteRow (props) {
      this.$store.state.patientsStore.id = props
      this.$store.dispatch('patientsStore/deletePatient').then((res) => {
        this.request({
          pagination: this.serverPagination,
          filter: this.filter
        })
      }).catch((err) => {
        this.loading = false
        console.log(err)
      })
    },
    request (props) {
      this.loading = true
      this.$store.state.patientsStore.searchRequest.currentPageIndex = props.pagination.page - 1
      this.$store.state.patientsStore.searchRequest.filter = this.filter
      this.$store.state.patientsStore.searchRequest.pageMaxIndex = props.pagination.rowsPerPage
      this.$store.dispatch('patientsStore/getAllPatients').then((res) => {
        console.log(res)
        this.serverData = res.body['content']
        this.serverPagination = props.pagination
        this.serverPagination.rowsNumber = res.body['totalElements']
        this.loading = false
      }).catch((err) => {
        this.loading = false
        console.log(err)
      })
    }
  },
  mounted () {
    this.request({
      pagination: this.serverPagination,
      filter: this.filter
    })
  }
}
</script>
