<template>
  <q-page padding class="docs-table">
    <q-table
      ref="table"
      color="secondary"
      title="Rooms"
      :data="serverData"
      :columns="columns"
      :filter="filter"
      selection="none"
      :selected.sync="selected"
      row-key="id"
      :pagination.sync="serverPagination"
      @request="request"
      :loading="loading"
    >
      <template slot="top-right" slot-scope="props">
        <q-search class="searchInput" hide-underline v-model="filter"
                  color="secondary"/>
        <q-btn
          flat round dense
          :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
          @click="props.toggleFullscreen"
        />
      </template>
    </q-table>
  </q-page>
</template>

<script>
export default {
  data () {
    return {
      serverData: [],
      serverPagination: {
        page: 0,
        rowsNumber: 5 // specifying this determines pagination is server-side
      },
      columns: [
        {
          name: 'name',
          required: true,
          label: 'Name',
          align: 'left',
          field: 'name',
          sortable: true
        },
        { name: 'capacity', label: 'Capacity', field: 'capacity', sortable: false }
      ],
      separator: 'horizontal',

      filter: '',
      selected: [],
      loading: false
    }
  },
  methods: {
    request (props) {
      this.loading = true
      this.$store.state.roomsStore.searchRequest.currentPageIndex = props.pagination.page - 1
      this.$store.state.roomsStore.searchRequest.pageMaxIndex = props.pagination.rowsPerPage
      this.$store.dispatch('roomsStore/getAllRooms').then((res) => {
        this.serverData = res.body['content']
        this.serverPagination = props.pagination
        this.serverPagination.rowsNumber = res.body['totalElements']
        this.loading = false
      }).catch((err) => {
        this.loading = false
        console.log(err)
      })
    }
  },
  mounted () {
    this.request({
      pagination: this.serverPagination,
      filter: this.filter
    })
  }
}
</script>
