<template>
    <q-table
      ref="table"
      color="secondary"
      title="Study Cases"
      :data="serverData"
      :columns="columns"
      :filter="filter"
      selection="none"
      :selected.sync="selected"
      row-key="id"
      :pagination.sync="serverPagination"
      @request="request"
      :loading="loading"
    >
      <q-td slot="body-cell-view" slot-scope="props" :props="props">
        <q-btn color="secondary" :to="{ name: 'viewStudy', params: { idStudy: props.value }} " flat round icon="edit" />
        <q-btn color="negative" @click="deleteRow(props.value)" flat round icon="delete" />
      </q-td>
      <template slot="top-right" slot-scope="props">
        <q-btn
          flat round dense
          :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
          @click="props.toggleFullscreen"
        />
      </template>
    </q-table>
</template>

<script>
export default {
  data () {
    return {
      serverData: [],
      serverPagination: {
        page: 0,
        rowsNumber: 5 // specifying this determines pagination is server-side
      },
      columns: [
        { name: 'studyStatus', label: 'Status', field: 'studyStatus', sortable: false },
        { name: 'description', label: 'Description', field: 'description', sortable: false },
        { name: 'startTime', label: 'Start Time', field: 'startTime', sortable: false },
        { name: 'endTime', label: 'End Time', field: 'endTime', sortable: false },
        { name: 'view', label: '', field: 'id' }
      ],
      separator: 'horizontal',
      filter: '',
      selected: [],
      loading: false
    }
  },
  methods: {
    deleteRow (props) {
      console.log(props)
      this.$store.state.studiesStore.id = props
      this.$store.dispatch('studiesStore/deleteStudy').then((res) => {
        this.request({
          pagination: this.serverPagination,
          filter: this.filter
        })
      }).catch((err) => {
        this.loading = false
        console.log(err)
      })
    },
    request (props) {
      this.loading = true
      this.$store.state.studiesStore.searchRequest.value = this.$route.params.id
      this.$store.state.studiesStore.searchRequest.operand = '='
      this.$store.state.studiesStore.searchRequest.criteria = 'patient'
      this.$store.state.studiesStore.searchRequest.currentPageIndex = props.pagination.page - 1
      this.$store.state.studiesStore.searchRequest.pageMaxIndex = props.pagination.rowsPerPage
      this.$store.dispatch('studiesStore/getAllStudies').then((res) => {
        this.serverData = res.body['content']
        this.serverPagination = props.pagination
        this.serverPagination.rowsNumber = res.body['totalElements']
        this.loading = false
      }).catch((err) => {
        this.loading = false
        console.log(err)
      })
    }
  },
  mounted () {
    this.request({
      pagination: this.serverPagination,
      filter: this.filter
    })
  }
}
</script>
