// app global css
.tableClass {
  background-color: #232d37 !important;
}

.searchInput input {
  color: #26A69A
}

.q-table-title {
  color #26A69A;
}

.addbutton {
  margin-bottom: 10px;
}

.q-input, .q-datetime-input, .q-field , .q-chips-input {
  margin: 2px
}
.q-popup{
  color white;
}
.q-my-md {
  color: #fff;
  background: #232d37;
  padding: 15px;
  border-radius: 3px;
}
