<template>
  <q-layout view="hHh Lpr fFf">
    <q-layout-header>
      <q-toolbar>
        <q-toolbar-title align="center">
          <a href="/">
            <img class="logo" src="/statics/logo.png">
          </a>
        </q-toolbar-title>
      </q-toolbar>
      <q-tabs align="justify" inverted v-model="tabsModel">
        <q-route-tab name="xtab-1" to="/rooms" icon="meeting_room" slot="title" label="Rooms" />
        <q-route-tab name="xtab-2" to="/patients" icon="local_hotel" slot="title" label="Patients" />
        <q-route-tab name="xtab-3" to="/doctors" icon="group" slot="title" label="Doctors"/>
      </q-tabs>
    </q-layout-header>
    <q-page-container>
      <router-view />
    </q-page-container>
    <q-layout-footer>
      <q-toolbar-title class="footer-toolbar">
      </q-toolbar-title>
    </q-layout-footer>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'LayoutDefault',
  data () {
    return {
      tabsModel: 'xtab-2',
      tabsOptions: [
        {label: 'Tab 1', value: 'xtab-1'},
        {label: 'Tab 2', value: 'xtab-2'},
        {label: 'Tab 3', value: 'xtab-3'}
      ],
      showLeft: false,
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>
  .logo {
    width: 200px;
    padding: 2px;
  }
  .footer-toolbar {
    color:  white;
    padding: 20px;
    text-align:  center;
  }
  .q-layout-footer{
    background-color: #232d37;
  }
</style>
